body {
  background-color: lightyellow;
}




.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/*********** End Header **********/

/************ Main Page ***********/

#main-content 

#menu-categories {
  background-color: #fd7e14;
}




